{% include 'site-title' %}

<div class="page page-collections">

    <header class="content-header border-above">
        <p class="content-type">archive</p>
        <h1 class="content-title js-sticky" data-sticky-top="110">Collections</h1>
    </header>

    <div class="collections js-collections">

        <div class="collection-block" id="collection-2013">
            <h2 class="collection-title"><a href="#collection-2013">2013 <span class="icon"></span></a></h2>
            <div class="collection-images">
                <a class="prev" href="#prev"><span class="icon"></span></a>
                <a class="next" href="#next"><span class="icon"></span></a>
                <ul>
                    <li><a href="{{ 'collections_2013_dust-hoops.jpg' | asset_url }}" rel="lightbox-2013" title="Dust Hoops"><img src="{{ 'collections_2013_dust-hoops_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2013_dust-necklaces.jpg' | asset_url }}" rel="lightbox-2013" title="Dust Necklaces"><img src="{{ 'collections_2013_dust-necklaces_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2013_poppy-pendant.jpg' | asset_url }}" rel="lightbox-2013" title="Poppy Pendant"><img src="{{ 'collections_2013_poppy-pendant_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2013_poppy-studs.jpg' | asset_url }}" rel="lightbox-2013" title="Poppy Studs"><img src="{{ 'collections_2013_poppy-studs_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2013_stripe-overlap-studs.jpg' | asset_url }}" rel="lightbox-2013" title="Stripe Overlap Studs"><img src="{{ 'collections_2013_stripe-overlap-studs_thumb.jpg' | asset_url }}" alt=""></a></li>
                </ul>
            </div>
        </div>

        <!--
        <div class="collection-block" id="collection-2012">
            <h2 class="collection-title"><a href="#collection-2012">2012 <span class="icon"></span></a></h2>
            <div class="collection-images">
                <a class="prev" href="#prev"><span class="icon"></span></a>
                <a class="next" href="#next"><span class="icon"></span></a>
                <ul>
                    <li><a href="{{ 'XX.jpg' | asset_url }}" rel="lightbox-20XX" title="XX"><img src="{{ 'XX_thumb.jpg' | asset_url }}" alt=""></a></li>
                </ul>
            </div>
        </div>
        -->

        <div class="collection-block" id="collection-2011">
            <h2 class="collection-title"><a href="#collection-2011">2011 <span class="icon"></span></a></h2>
            <div class="collection-images">
                <a class="prev" href="#prev"><span class="icon"></span></a>
                <a class="next" href="#next"><span class="icon"></span></a>
                <ul>
                    <li><a href="{{ 'collections_2011_3d-chain.jpg' | asset_url }}" rel="lightbox-2011" title="3D Chain"><img src="{{ 'collections_2011_3d-chain_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_abstract-necklace.jpg' | asset_url }}" rel="lightbox-2011" title="Abstract Necklace"><img src="{{ 'collections_2011_abstract-necklace_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_chains.jpg' | asset_url }}" rel="lightbox-2011" title="Chains"><img src="{{ 'collections_2011_chains_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_cluster-brooch2.jpg' | asset_url }}" rel="lightbox-2011" title="Cluster Brooch 2"><img src="{{ 'collections_2011_cluster-brooch2_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_cut-out-brooch.jpg' | asset_url }}" rel="lightbox-2011" title="Cut Out Brooch"><img src="{{ 'collections_2011_cut-out-brooch_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_modern-earrings.jpg' | asset_url }}" rel="lightbox-2011" title="Modern Earrings"><img src="{{ 'collections_2011_modern-earrings_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_oval-stencil-brooch.jpg' | asset_url }}" rel="lightbox-2011" title="Oval Stencil Brooch"><img src="{{ 'collections_2011_oval-stencil-brooch_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_overlap-earrings.jpg' | asset_url }}" rel="lightbox-2011" title="Overlap Earrings"><img src="{{ 'collections_2011_overlap-earrings_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_stencil-brooch.jpg' | asset_url }}" rel="lightbox-2011" title="Stencil Brooch"><img src="{{ 'collections_2011_stencil-brooch_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_turquoise-linear-n_l.jpg' | asset_url }}" rel="lightbox-2011" title="Turquoise Linear Necklace"><img src="{{ 'collections_2011_turquoise-linear-n_l_thumb.jpg' | asset_url }}" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="collection-block" id="collection-2010">
            <h2 class="collection-title"><a href="#collection-2010">2010 <span class="icon"></span></a></h2>
            <div class="collection-images">
                <a class="prev" href="#prev"><span class="icon"></span></a>
                <a class="next" href="#next"><span class="icon"></span></a>
                <ul>
                    <li><a href="{{ 'collections_2010_dust-bangles.jpg' | asset_url }}" rel="lightbox-2010" title="Dust Bangles"><img src="{{ 'collections_2010_dust-bangles_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2010_dust-studs.jpg' | asset_url }}" rel="lightbox-2010" title="Dust Studs"><img src="{{ 'collections_2010_dust-studs_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2010_honesty-necklace.jpg' | asset_url }}" rel="lightbox-2010" title="Honesty Necklace"><img src="{{ 'collections_2010_honesty-necklace_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2010_large-honesty-drops.jpg' | asset_url }}" rel="lightbox-2010" title="Large Honesty Drops"><img src="{{ 'collections_2010_large-honesty-drops_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2010_magnetic-brooches.jpg' | asset_url }}" rel="lightbox-2010" title="Magnetic Brooches"><img src="{{ 'collections_2010_magnetic-brooches_thumb.jpg' | asset_url }}" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="collection-block" id="collection-2009">
            <h2 class="collection-title"><a href="#collection-2009">2009 <span class="icon"></span></a></h2>
            <div class="collection-images">
                <a class="prev" href="#prev"><span class="icon"></span></a>
                <a class="next" href="#next"><span class="icon"></span></a>
                <ul>
                    <li><a href="{{ 'collections_2009_honesty-drops.jpg' | asset_url }}" rel="lightbox-2009" title="Honesty Drops"><img src="{{ 'collections_2009_honesty-drops_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2009_linear-pattern-background.jpg' | asset_url }}" rel="lightbox-2009" title="Linear Pattern Background"><img src="{{ 'collections_2009_linear-pattern-background_thumb.jpg' | asset_url }}" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="collection-block" id="collection-2008">
            <h2 class="collection-title"><a href="#collection-2008">2008 <span class="icon"></span></a></h2>
            <div class="collection-images">
                <a class="prev" href="#prev"><span class="icon"></span></a>
                <a class="next" href="#next"><span class="icon"></span></a>
                <ul>
                    <li><a href="{{ 'collections_2008_cluster-studs.jpg' | asset_url }}" rel="lightbox-2008" title="Cluster Studs"><img src="{{ 'collections_2008_cluster-studs_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2008_filigree-necklace.jpg' | asset_url }}" rel="lightbox-2008" title="Filigree Necklace"><img src="{{ 'collections_2008_filigree-necklace_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2008_filigree-studs.jpg' | asset_url }}" rel="lightbox-2008" title="Filigree Studs"><img src="{{ 'collections_2008_filigree-studs_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2008_fold-bead-necklace.jpg' | asset_url }}" rel="lightbox-2008" title="Fold Bead Necklace"><img src="{{ 'collections_2008_fold-bead-necklace_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2008_klimt-brooch.jpg' | asset_url }}" rel="lightbox-2008" title="Klimt Brooch"><img src="{{ 'collections_2008_klimt-brooch_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2008_layer-brooch.jpg' | asset_url }}" rel="lightbox-2008" title="Layer Brooch"><img src="{{ 'collections_2008_layer-brooch_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2008_lily-necklace.jpg' | asset_url }}" rel="lightbox-2008" title="Lily Necklace"><img src="{{ 'collections_2008_lily-necklace_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2008_wing-necklace.jpg' | asset_url }}" rel="lightbox-2008" title="Wing Necklace"><img src="{{ 'collections_2008_wing-necklace_thumb.jpg' | asset_url }}" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="collection-block" id="collection-2007">
            <h2 class="collection-title"><a href="#collection-2007">2007 <span class="icon"></span></a></h2>
            <div class="collection-images">
                <a class="prev" href="#prev"><span class="icon"></span></a>
                <a class="next" href="#next"><span class="icon"></span></a>
                <ul>
                    <li><a href="{{ 'collections_2007_coral-brooch.jpg' | asset_url }}" rel="lightbox-2007" title="Coral Brooch"><img src="{{ 'collections_2007_coral-brooch_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2007_mint-n_l.jpg' | asset_url }}" rel="lightbox-2007" title="Mint Neclace"><img src="{{ 'collections_2007_mint-n_l_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2007_wrap-bangles2.jpg' | asset_url }}" rel="lightbox-2007" title="Wrap Bangles"><img src="{{ 'collections_2007_wrap-bangles2_thumb.jpg' | asset_url }}" alt=""></a></li>
                </ul>
            </div>
        </div>

    </div><!-- .collections -->
</div><!-- .page -->