{% include 'site-title' %}

<div class="page page-collections">

    <header class="content-header border-above">
        <p class="content-type">archive</p>
        <h1 class="content-title js-sticky" data-sticky-top="110">Collections</h1>
    </header>

    <div class="collections js-collections">
        <div class="collection-block" id="collection-2012">
            <h2 class="collection-title"><a href="#collection-2012">2012 <span class="icon"></span></a></h2>
            <div class="collection-images">
                <a class="prev" href="#prev"><span class="icon"></span></a>
                <a class="next" href="#next"><span class="icon"></span></a>
                <ul>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2012" title=""><img src="http://placehold.it/150x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2012" title="[product name]"><img src="http://placehold.it/300x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2012" title="[title]"><img src="http://placehold.it/400x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2012" title="[title]"><img src="http://placehold.it/200x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2012" title="[title]"><img src="http://placehold.it/150x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2012" title="[title]"><img src="http://placehold.it/300x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2012" title="[title]"><img src="http://placehold.it/400x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2012" title="[title]"><img src="http://placehold.it/200x300" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="collection-block" id="collection-2011">
            <h2 class="collection-title"><a href="#collection-2011">2011 <span class="icon"></span></a></h2>
            <div class="collection-images">
                <a class="prev" href="#prev"><span class="icon"></span></a>
                <a class="next" href="#next"><span class="icon"></span></a>
                <ul>
                    <li><a href="{{ 'collections_2011_3d-chain.jpg' | asset_url }}" rel="lightbox" title="3D Chain"><img src="{{ 'collections_2011_3d-chain_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_abstract-necklace.jpg' | asset_url }}" rel="lightbox" title="Abstract Necklace"><img src="{{ 'collections_2011_abstract-necklace_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_chains.jpg' | asset_url }}" rel="lightbox" title="Chains"><img src="{{ 'collections_2011_chains_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_cluster-brooch2.jpg' | asset_url }}" rel="lightbox" title="Cluster Brooch 2"><img src="{{ 'collections_2011_cluster-brooch2_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_cut-out-brooch.jpg' | asset_url }}" rel="lightbox" title="Cut Out Brooch"><img src="{{ 'collections_2011_cut-out-brooch_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_modern-earrings.jpg' | asset_url }}" rel="lightbox" title="Modern Earrings"><img src="{{ 'collections_2011_modern-earrings_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_oval-stencil-brooch.jpg' | asset_url }}" rel="lightbox" title="Oval Stencil Brooch"><img src="{{ 'collections_2011_oval-stencil-brooch_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_overlap-earrings.jpg' | asset_url }}" rel="lightbox" title="Overlap Earrings"><img src="{{ 'collections_2011_overlap-earrings_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_stencil-brooch.jpg' | asset_url }}" rel="lightbox" title="Stencil Brooch"><img src="{{ 'collections_2011_stencil-brooch_thumb.jpg' | asset_url }}" alt=""></a></li>
                    <li><a href="{{ 'collections_2011_turquoise-linear-n_l.jpg' | asset_url }}" rel="lightbox" title="Turquoise Linear Necklace"><img src="{{ 'collections_2011_turquoise-linear-n_l_thumb.jpg' | asset_url }}" alt=""></a></li>

                </ul>
            </div>
        </div>

        <div class="collection-block" id="collection-2010">
            <h2 class="collection-title"><a href="#collection-2010">2010 <span class="icon"></span></a></h2>
            <div class="collection-images">
                <a class="prev" href="#prev"><span class="icon"></span></a>
                <a class="next" href="#next"><span class="icon"></span></a>
                <ul>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2010" title="[title]"><img src="http://placehold.it/150x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2010" title="[title]"><img src="http://placehold.it/300x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2010" title="[title]"><img src="http://placehold.it/400x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2010" title="[title]"><img src="http://placehold.it/200x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2010" title="[title]"><img src="http://placehold.it/150x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2010" title="[title]"><img src="http://placehold.it/300x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2010" title="[title]"><img src="http://placehold.it/400x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2010" title="[title]"><img src="http://placehold.it/200x300" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="collection-block" id="collection-2009">
            <h2 class="collection-title"><a href="#collection-2009">2009 <span class="icon"></span></a></h2>
            <div class="collection-images">
                <a class="prev" href="#prev"><span class="icon"></span></a>
                <a class="next" href="#next"><span class="icon"></span></a>
                <ul>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2009" title="[title]"><img src="http://placehold.it/150x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2009" title="[title]"><img src="http://placehold.it/300x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2009" title="[title]"><img src="http://placehold.it/400x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2009" title="[title]"><img src="http://placehold.it/200x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2009" title="[title]"><img src="http://placehold.it/150x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2009" title="[title]"><img src="http://placehold.it/300x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2009" title="[title]"><img src="http://placehold.it/400x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2009" title="[title]"><img src="http://placehold.it/200x300" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="collection-block" id="collection-2008">
            <h2 class="collection-title"><a href="#collection-2008">2008 <span class="icon"></span></a></h2>
            <div class="collection-images">
                <a class="prev" href="#prev"><span class="icon"></span></a>
                <a class="next" href="#next"><span class="icon"></span></a>
                <ul>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2008" title="[title]"><img src="http://placehold.it/150x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2008" title="[title]"><img src="http://placehold.it/300x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2008" title="[title]"><img src="http://placehold.it/400x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2008" title="[title]"><img src="http://placehold.it/200x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2008" title="[title]"><img src="http://placehold.it/150x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2008" title="[title]"><img src="http://placehold.it/300x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2008" title="[title]"><img src="http://placehold.it/400x300" alt=""></a></li>
                    <li><a href="http://placehold.it/500x500" rel="lightbox-2008" title="[title]"><img src="http://placehold.it/200x300" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div><!-- .collections -->
</div><!-- .page -->