<div class="page {% if template contains 'index' %}page-shop js-alt{% else %}page-shop-inner{% endif %}" id="shop" data-alt-offset="50" data-alt-class="light-bg">

    <header class="content-header border-above">
        <p class="content-type">shop</p>
        <h2 class="content-title">{{ settings.collection_title }}</h2>
    </header>

    <div class="shop-categories js-sticky" data-sticky-top="113">
        <ul class="horizontal-list">
            <li{% if collection.handle == "featured" %} class="current"{% endif %}><a href="/collections/featured">Featured</a></li>
            {% for col in collections %}
                {% if col.products.size > 0 %}
                    {% if col.handle != "featured" %}
                        <li{% if col.handle == collection.handle %} class="current"{% endif %}><a href="{{ col.url }}">{{ col.title }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <div class="shop-categories-list-container js-sticky" data-sticky-top="80">
            <select class="shop-categories-list">
                <option value="/collections/featured/"{% if collection.handle == "featured" %} selected{% endif %}>View - Featured</option>
                {% for col in collections %}
                    {% if col.products.size > 0 %}
                        {% if col.handle != "featured" %}
                            <option value="{{ col.url }}"{% if col.handle == collection.handle %} selected{% endif %}>View - {{ col.title }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="shop-products">
        <!-- <div class="masonry-item-width"></div>
        <div class="masonry-gutter-width"></div> -->

        {% for product in collection.products %}
            {% include 'product-item' %}
        {% else %}
            <p>No products found</p>
        {% endfor %}

    </div>
</div>